
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000;
    margin: 0;
    font-family: 'Press Start 2P', sans-serif; /* Fuente tipo arcade */
    color: #FFF;
}

#game-container {
    /* Centra el canvas y los marcadores */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Esto nos permite poner mensajes encima */
    position: relative; 
}

#scoreboard {
    display: flex;
    justify-content: space-between; /* Pone Puntuación a la izq. y Vidas a la der. */
    width: 560px; /* Mismo ancho que el canvas */
    padding: 10px 0;
    font-size: 1rem; /* Ajusta el tamaño si es necesario */
}

/* Mapa */
#pacmanCanvas {
    background-color: #000; 
    border: 2px solid #0000FF; 
    display: block; 
}

/* El div para "GAME OVER", "¡LISTO!", etc. */
#game-messages {
    position: absolute;
    /* Centrado encima del canvas */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    font-size: 2.5rem;
    color: #FFFF00; /* Amarillo Pac-Man */
    text-shadow: 2px 2px #000;
    
    /* Oculto por defecto, el JS lo mostrará */
    display: none; 
}